@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Montserrat;
        font-weight: 400;
        src: url(../resources/fonts/Montserrat-Bold.woff2) format("woff2");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 500;
        src: url(../resources/fonts/Montserrat-Medium.woff2) format("woff2");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 600;
        src: url(../resources/fonts/Montserrat-Regular.woff2) format("woff2");
    }
}
:root {
    --font-family: "Montserrat", sans-serif;
    --content-width: 1170px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --light-color: #fff;
    --body-color: #333;
    --header-color: #2B2D42;
    --main-color: #9591E1;
    --dark-color-one:#15161D;
    --dark-color-two: #1E1F29;
}


